body{
	background-color: #ff3333; 
	margin: 0;
}

h1{
	color: #000000;
}
/*Bagian Navbar*/
*{
	margin: 0;
	padding: 0;
}
.nav {
	margin: auto;
	text-align: left;
	font-family: fantasy;
	width: auto;
	font-size: 20px;
}
.nav ul {
	background: black;
	list-style: none;
	position: static;
	display: inline-table;
	width: 1520px;
	padding:8px 8px;
}
.nav ul li {
	float: right;
	padding: auto;
}
.nav ul li:hover{
	background: black;
}
.nav ul li:hover a{
	color: show;
}
.nav ul li a{
	display: block;
	padding: 20px;
	color: white;
	text-decoration: none;
}
/*Bagian Slider*/
@keyframes slider {     
	0% {
		left: 0; 
	}          
	20% {
		left: 0;
	}     
	25% {
		left: -100%; 
	}      
	45% {
		left: -100%;
	}     
	50% {
		left: -200%;
	}     
	70% {
		left: -200%; 
	}         
	75% {
		left: -300%; 
	}   	
	95% {
		left: -300%;
	}   	
	100% {
		left: 400%;
	}
}

#wibis-slider{
	overflow: hidden;
}
#wibis-slider figure img {
	width: 100%;
	float: left;
}
#wibis-slider figure {
	position: relative;
	width: 600%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slider infinite;
	/*-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused;*/
}

form {
	float: center;
}
.search{
	padding: 10px 10px;
	background:white;
	border: 0px solid #dbdbdb;
}
.footer {
	text-align: center;
}